# Global rules
.DS_Store
Thumbs.db
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env

# Client-specific rules
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/client/node_modules
/client/.pnp
/client/.pnp.js
/client/.yarn/install-state.gz

# Testing
/client/coverage

# Next.js
/client/.next/
/client/out/

# Production
/client/build

# Misc
/client/.DS_Store

# Debug
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# Local env files
/client/.env*.local

# Vercel
/client/.vercel

# TypeScript
/client/*.tsbuildinfo
/client/next-env.d.ts

# Server-specific rules
/server/node_modules
/server/dist
/server/.env

# ignoring server index.ts copied index.local.ts
/server/src/config/index.ts

